{{!< default}}

{{! The comment above "< default" means - insert everything in this file into
    the {body} of the default.hbs template, which contains our header/footer. }}

<section id="post-container" role="main">
 {{#post}}
    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
        <div class="container">
            <div class="row">
                <aside class="col-sm-2 hidden-xs">
                    <ul>
                        <li class="side-header">Published</li>
                        <li class="text-muted"><time itemprop="datePublished" datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time></li>
                        
                        {{#foreach tags}}
                            {{#if @first}}
                                <li class="side-header" class="text-muted">Tags</li>        
                            {{/if}}
                            <li class="text-muted"><a href="{{url}}">{{name}}</a></li>
                        {{/foreach}}
                    </ul>
                </aside>
                <div class="col-sm-8">
                    <header>
                        <h1 itemprop="name headline"><a href="{{url}}">{{{title}}}</a></h1>
                    </header>
                    <section class="mobile-side visible-xs-block">
                        <p>
                            <time datetime="{{date format='YYYY-MM-DD'}}">{{date format='DD MMM YYYY'}}</time>
                            <span class="text-muted">
                                {{tags separator=" / "}}
                            </span>
                        </p>
                    </section>
                    <section itemprop="articleBody text">
                    {{content}}
                    </section>
                    <section class="clearfix">
                        <h5 class="pull-right">
                        Share on : 
                        <a href="https://twitter.com/share?text={{encode title}}&amp;url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;">Twitter</a>, 
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{url absolute="true"}}"
                        onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;">Facebook</a> or 
                        <a href="https://plus.google.com/share?url={{url absolute="true"}}"
                        onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;">Google+</a></h5>
                    </section>
                    {{#author}}
                    <footer class="clearfix" itemprop="author" itemscope itemtype="http://schema.org/Person">
                        <div class="well">
                            <div class="media">
                                {{#if image}}
                                <a class="pull-left" href="{{url}}">
                                <img class="media-object no-fluid" alt="{{name}}" src="{{image}}" style="width: 64px; height: 64px;">
                                </a>
                                {{/if}}
                                <div class="media-body">
                                    <h4 class="media-heading">by <a href="{{url}}" rel="author" itemprop="url name">{{name}}</a></h4>
                                    
                                    {{#if bio}}
                                        <p>{{bio}}</p>
                                    {{else}}
                                        <p>Read <a href="{{url}}">more posts</a> by this author.</p>
                                    {{/if}}
                                    {{#if website}}
                                        <p><a href="{{website}}">{{website}}</a></p>
                                    {{/if}}
                                </div>
                            </div>
                        </div>
                    </footer>
                    {{/author}}
                </div>
            </div>
        </div>
    </article>
    {{/post}}
</section>

{{! Comments include }}    
<!--{{> comments}}-->

